# Maven
target/
*.jar
*.war
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# IDE
.idea/
.vscode/
*.iml
*.classpath
.project
.settings/
bin/

# Sistema
.DS_Store
*.log
*.class

# Temporales
*.tmp
*.swp