# Maven
target/
*.jar
*.war
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE (IntelliJ, VSCode, Eclipse)
.idea/
.vscode/
*.iml
*.classpath
.project
.settings/
bin/
.eclipse
*.swp
*.swo

# Spring Boot
*.log
application.properties
   application.yml
   application-*.properties
   application-*.yml

# Sistema
.DS_Store
Thumbs.db
*.tmp
*.swp

# Temporales
node_modules/
dist/
build/

# Credenciales (IMPORTANTE)
.env
.env.local
application-secret.properties